<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_stacknuts_viewgento">
        <observer name="stacknuts_viewgento_config_sync_on_section_save"
                  instance="StackNuts\ViewGento\Observer\ConfigSyncOnSectionSave" />
    </event>
</config>
